* {
  /* border: 1px dashed teal; */
  margin: 0;
}
@font-face {
  font-family: 'cursed'; 
  src: url('./fonts/CursedTimerUlil-Aznm.ttf');
} 

body {
    margin: 0;
  background: black;
}

.container {
  width: 70%;
  display: flex;
  /* flex-direction: column; */
  margin: 0 auto; /* center div horizontally */
  justify-content: space-evenly;
  /* background: #1b244a; */
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.board  {
  background: #1b244a;
  border-radius: 5px;
  padding: 1rem 2rem;
}
.timer-board  {
  background:rgb(41, 54, 112);
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
}

/* .timer {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  background: #2c3457;
  border-radius: 5px;
  text-align: center;
} */

@media screen and (max-width: 600px) {
  /* styles here */
  .container {
    width: 90%;
    flex-direction: column;
    gap: 1rem;
    /* border: red 1px solid; */
  }
}

h3 {
  color: whitesmoke;
}

h1 {
  color: whitesmoke;
  
  border-radius: 5px;
  padding: 1rem 2rem;
  text-align: center;
}

p {
    font-family: 'Cursed';
}

button {
  opacity: .5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  padding: .5rem 1rem;
}

button:hover,
button:focus {
  opacity: 1;
}

#first-team {
  color: cyan;
}

#second-team {
  color: yellowgreen;
}

p {
  color: orangered;
  background: black;
  font-size: 2em;
  padding-top: .3em;
  margin: .25em 0; 
}

h1, h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}